.transitionA {
  display: inline-block;
  position: relative;
}

.transitionA::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1a1a1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.transitionA:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
