@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #eeeeee;
  --black: #1a1a1a;
  --dimBlack: #3e3e3e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: var(--white);
  color: var(--black);
}

.custom-btn {
  border-radius: 10px;
  border: 1px solid #1a1a1a;
  box-shadow: 2px 2px 0px 0px #111010;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--white);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(62, 62, 62, 0.8);
  border-radius: 9999px;
  cursor: pointer;
}

.box-shdw {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.strk-outline {
  -webkit-text-stroke: 2px var(--black);
}

.code-block {
  background-color: var(--dimBlack);
  padding: 15px;
  border-radius: 5px;
  white-space: pre-wrap;
  /* max-width: 100%; */
}
